<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="SimBodyAll.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.6816383275351E-11 -3.09012454513535E-09 -0.0393086110041618"
        rpy="0 0 0" />
      <mass
        value="2.99679711850122" />
      <inertia
        ixx="0.0130487891566589"
        ixy="6.8253065333221E-07"
        ixz="2.44351489305144E-13"
        iyy="0.00258501168621341"
        iyz="2.0012296507436E-11"
        izz="0.0139348537052281" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="LF_Thigh">
    <inertial>
      <origin
        xyz="0.00950377899812693 -0.000676711843745792 -0.131806390660472"
        rpy="0 0 0" />
      <mass
        value="0.0882422081121368" />
      <inertia
        ixx="0.000491671507597408"
        ixy="-2.19555200586714E-07"
        ixz="-8.65148295791536E-07"
        iyy="0.000488344429351517"
        iyz="-2.45099889485596E-05"
        izz="8.97951850552544E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_Shoulder"
    type="revolute">
    <origin
      xyz="-0.1245 0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_Thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LF_Calf">
    <inertial>
      <origin
        xyz="0.00949966815614647 0.145160578580775 0.00181581504769485"
        rpy="0 0 0" />
      <mass
        value="0.104633221276047" />
      <inertia
        ixx="0.00040922810468361"
        ixy="-1.6059018426748E-07"
        ixz="5.04772060116895E-07"
        iyy="1.76618968505897E-05"
        iyz="-4.68887811427655E-06"
        izz="0.000402772935512955" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_Elbow"
    type="revolute">
    <origin
      xyz="0 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="LF_Thigh" />
    <child
      link="LF_Calf" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RF_Thigh">
    <inertial>
      <origin
        xyz="-0.0096380989183964 -0.000303174649525201 -0.129351054291687"
        rpy="0 0 0" />
      <mass
        value="0.0865895797539516" />
      <inertia
        ixx="0.000491530599442627"
        ixy="-2.22915472924509E-07"
        ixz="-8.65148296872941E-07"
        iyy="0.000488306844923432"
        iyz="-2.45099889315176E-05"
        izz="8.86845946110288E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_Shoulder"
    type="revolute">
    <origin
      xyz="0.1245 0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RF_Calf">
    <inertial>
      <origin
        xyz="-0.00950033184191773 0.145160578544039 0.00181581504884543"
        rpy="0 0 0" />
      <mass
        value="0.104633221311325" />
      <inertia
        ixx="0.000409228104837059"
        ixy="-1.60590170198536E-07"
        ixz="5.04772059286103E-07"
        iyy="1.76618968521735E-05"
        iyz="-4.68887810519855E-06"
        izz="0.00040277293566689" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_Elbow"
    type="revolute">
    <origin
      xyz="0 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="RF_Thigh" />
    <child
      link="RF_Calf" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LB_Thigh">
    <inertial>
      <origin
        xyz="0.00999622099786621 0.000676711846198996 -0.131806390667319"
        rpy="0 0 0" />
      <mass
        value="0.0882422081331743" />
      <inertia
        ixx="0.000491671507336526"
        ixy="-2.19555200658138E-07"
        ixz="8.65148296766519E-07"
        iyy="0.000488344429091295"
        iyz="2.45099889323393E-05"
        izz="8.9795185058495E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_Shoulder"
    type="revolute">
    <origin
      xyz="-0.125 -0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LB_Thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LB_Calf">
    <inertial>
      <origin
        xyz="0.0095003322135308 -0.145160592045571 0.00181581604915748"
        rpy="0 0 0" />
      <mass
        value="0.104633195457149" />
      <inertia
        ixx="0.000409228108021283"
        ixy="-1.60588705119663E-07"
        ixz="-5.04772483817865E-07"
        iyy="1.76618959408093E-05"
        iyz="4.68887711350297E-06"
        izz="0.000402772937359549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_Elbow"
    type="revolute">
    <origin
      xyz="0.0005 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="LB_Thigh" />
    <child
      link="LB_Calf" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RB_Thigh">
    <inertial>
      <origin
        xyz="-0.00909006577664029 0.00031422808315551 -0.126305541097904"
        rpy="0 0 0" />
      <mass
        value="0.0835436064116751" />
      <inertia
        ixx="0.000490965397560562"
        ixy="-2.2291546550714E-07"
        ixz="8.75425762967123E-07"
        iyy="0.000487844071655091"
        iyz="2.45099890756793E-05"
        izz="8.74900059524608E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_Shoulder"
    type="revolute">
    <origin
      xyz="0.124499999999999 -0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RB_Calf">
    <inertial>
      <origin
        xyz="-0.00949966777869005 -0.145160592135779 0.00181581604604594"
        rpy="0 0 0" />
      <mass
        value="0.104633195351664" />
      <inertia
        ixx="0.000409228107798755"
        ixy="-1.60588744254339E-07"
        ixz="-5.04772486861016E-07"
        iyy="1.76618959323995E-05"
        iyz="4.68887713099524E-06"
        izz="0.000402772937131416" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_Elbow"
    type="revolute">
    <origin
      xyz="0 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="RB_Thigh" />
    <child
      link="RB_Calf" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LF_MAA_UpLink">
    <inertial>
      <origin
        xyz="0.0104053557996403 0.00431024875092365 -0.0344326418966221"
        rpy="0 0 0" />
      <mass
        value="0.0171264368561049" />
      <inertia
        ixx="9.58755281580601E-06"
        ixy="9.89111136247813E-08"
        ixz="-4.14855606095137E-09"
        iyy="9.4432294236359E-06"
        iyz="1.13446418378997E-06"
        izz="1.94587625664638E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_MAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_MAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_MAA_Upjoint"
    type="revolute">
    <origin
      xyz="-0.126 0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_MAA_UpLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_MAA_LowerLink">
    <inertial>
      <origin
        xyz="0.0100015812569088 -0.0053087361764389 0.0341502884859824"
        rpy="0 0 0" />
      <mass
        value="0.0161000353690241" />
      <inertia
        ixx="9.30652305873051E-06"
        ixy="2.88814907869498E-10"
        ixz="8.78566870826239E-11"
        iyy="9.08331331570098E-06"
        iyz="1.01764862302278E-06"
        izz="1.9097331907503E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_MAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_MAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_MAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 0.03 -0.21"
      rpy="0 0 0" />
    <parent
      link="LF_MAA_UpLink" />
    <child
      link="LF_MAA_LowerLink" />
    <axis
      xyz="0 0.14142 -0.98995" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_MAA_UpLink">
    <inertial>
      <origin
        xyz="-0.0103392056750508 0.00755232255464103 -0.05643173811432"
        rpy="0 0 0" />
      <mass
        value="0.0204665687303366" />
      <inertia
        ixx="3.10492542688078E-05"
        ixy="-9.91687510114825E-08"
        ixz="4.12419888171118E-09"
        iyy="3.04766496147444E-05"
        iyz="4.13117099445733E-06"
        izz="2.43057644141593E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_MAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_MAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_MAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.126 0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_MAA_UpLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_MAA_LowerLink">
    <inertial>
      <origin
        xyz="-0.00999841874309121 -0.00530873617643884 0.0341502884859824"
        rpy="0 0 0" />
      <mass
        value="0.0161000353690241" />
      <inertia
        ixx="9.30652305873049E-06"
        ixy="2.88814907869147E-10"
        ixz="8.78566870826234E-11"
        iyy="9.08331331570098E-06"
        iyz="1.01764862302276E-06"
        izz="1.90973319075028E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_MAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_MAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_MAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 0.03 -0.21"
      rpy="0 0 0" />
    <parent
      link="RF_MAA_UpLink" />
    <child
      link="RF_MAA_LowerLink" />
    <axis
      xyz="0 0.14142 -0.98995" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_MAA_UpLink">
    <inertial>
      <origin
        xyz="0.0104053559860557 -0.00550330101398444 -0.034262204899338"
        rpy="0 0 0" />
      <mass
        value="0.0171264374395859" />
      <inertia
        ixx="9.5875528536131E-06"
        ixy="9.37930871008669E-08"
        ixz="-3.16777261990123E-08"
        iyy="9.46532493951139E-06"
        iyz="-1.05870831474407E-06"
        izz="1.92378086599244E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_MAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_MAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_MAA_UpJoint"
    type="revolute">
    <origin
      xyz="-0.124 -0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LB_MAA_UpLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_MAA_LowerLink">
    <inertial>
      <origin
        xyz="0.0100015812581986 0.00446569404206931 0.0342707231199565"
        rpy="0 0 0" />
      <mass
        value="0.0161000353334962" />
      <inertia
        ixx="9.30652305672584E-06"
        ixy="3.01862666214927E-10"
        ixz="3.47450620477524E-12"
        iyy="9.06799253641808E-06"
        iyz="-1.07017701976206E-06"
        izz="1.92505397284664E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_MAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_MAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_MAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 -0.03 -0.21"
      rpy="0 0 0" />
    <parent
      link="LB_MAA_UpLink" />
    <child
      link="LB_MAA_LowerLink" />
    <axis
      xyz="0 -0.14142 -0.98995" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_MAA_UpLink">
    <inertial>
      <origin
        xyz="-0.00959464401394439 -0.00550330101398433 -0.0342622048993386"
        rpy="0 0 0" />
      <mass
        value="0.0171264374395861" />
      <inertia
        ixx="9.58755285361336E-06"
        ixy="9.37930871008613E-08"
        ixz="-3.16777261990146E-08"
        iyy="9.46532493951165E-06"
        iyz="-1.05870831474407E-06"
        izz="1.92378086599244E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_MAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_MAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_MAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.124 -0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_MAA_UpLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_MAA_LowerLink">
    <inertial>
      <origin
        xyz="-0.00999841874180141 0.0044656940420692 0.0342707231199562"
        rpy="0 0 0" />
      <mass
        value="0.0161000353334962" />
      <inertia
        ixx="9.30652305672585E-06"
        ixy="3.01862666214333E-10"
        ixz="3.47450620474225E-12"
        iyy="9.0679925364181E-06"
        iyz="-1.07017701976202E-06"
        izz="1.92505397284665E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_MAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_MAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_MAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 -0.03 -0.21"
      rpy="0 0 0" />
    <parent
      link="RB_MAA_UpLink" />
    <child
      link="RB_MAA_LowerLink" />
    <axis
      xyz="0 -0.14142 -0.98995" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_BAA_UpLink">
    <inertial>
      <origin
        xyz="0.00966079408587497 -0.00430834263362653 -0.0567716145093938"
        rpy="0 0 0" />
      <mass
        value="0.0204665709436908" />
      <inertia
        ixx="3.10492543331877E-05"
        ixy="-9.61603163748154E-08"
        ixz="2.45894840377622E-08"
        iyy="3.0947108899514E-05"
        iyz="-1.91068296279259E-06"
        izz="1.96011736217769E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_BAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_BAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="-0.126 0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_BAA_UpLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_BAA_LowerLink">
    <inertial>
      <origin
        xyz="0.00999992069053446 0.00356973497087257 0.0585364138415042"
        rpy="0 0 0" />
      <mass
        value="0.0194426287972803" />
      <inertia
        ixx="3.18395041724194E-05"
        ixy="1.27406567042962E-12"
        ixz="3.27088984796471E-12"
        iyy="3.16211482432029E-05"
        iyz="-2.01444569554887E-06"
        izz="2.09344610947503E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_BAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LF_BAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_BAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 -0.013397 -0.2"
      rpy="0 0 0" />
    <parent
      link="LF_BAA_UpLink" />
    <child
      link="LF_BAA_LowerLink" />
    <axis
      xyz="0 -0.066838 -0.99776" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_BAA_UpLink">
    <inertial>
      <origin
        xyz="-0.00959464421764755 -0.00292023843539835 -0.0345782749394958"
        rpy="0 0 0" />
      <mass
        value="0.0171264386481169" />
      <inertia
        ixx="9.58755282975005E-06"
        ixy="9.59031928705218E-08"
        ixz="-2.45598438210799E-08"
        iyy="9.58120388593561E-06"
        iyz="-4.83247761472822E-07"
        izz="1.80790170886721E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_BAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_BAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.126 0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_BAA_UpLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_BAA_LowerLink">
    <inertial>
      <origin
        xyz="-0.0100000793094656 0.00356973497087275 0.0585364138415043"
        rpy="0 0 0" />
      <mass
        value="0.0194426287972802" />
      <inertia
        ixx="3.18395041724194E-05"
        ixy="1.27406567017277E-12"
        ixz="3.27088984873203E-12"
        iyy="3.16211482432029E-05"
        iyz="-2.01444569554903E-06"
        izz="2.09344610947499E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_BAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RF_BAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_BAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 -0.013397 -0.2"
      rpy="0 0 0" />
    <parent
      link="RF_BAA_UpLink" />
    <child
      link="RF_BAA_LowerLink" />
    <axis
      xyz="0 -0.066838 -0.99776" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_BAA_UpLink">
    <inertial>
      <origin
        xyz="0.00966079422688676 0.00330212714752798 -0.0568390211956726"
        rpy="0 0 0" />
      <mass
        value="0.0204665696983522" />
      <inertia
        ixx="3.10492542975989E-05"
        ixy="-9.85808261722483E-08"
        ixz="1.15442697536067E-08"
        iyy="3.09365790753536E-05"
        iyz="1.98892548493944E-06"
        izz="1.97064706320605E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_BAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_BAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="-0.124 -0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LB_BAA_UpLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_BAA_LowerLink">
    <inertial>
      <origin
        xyz="0.00999992069043695 -0.00426951730195868 0.0584895372950257"
        rpy="0 0 0" />
      <mass
        value="0.0194426288051958" />
      <inertia
        ixx="3.18395041729803E-05"
        ixy="8.26349482237479E-13"
        ixz="3.41161327114766E-12"
        iyy="3.16284313181091E-05"
        iyz="1.96032801613553E-06"
        izz="2.08616303394687E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_BAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/LB_BAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_BAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 0.013397 -0.2"
      rpy="0 0 0" />
    <parent
      link="LB_BAA_UpLink" />
    <child
      link="LB_BAA_LowerLink" />
    <axis
      xyz="0 0.066838 -0.99776" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_BAA_UpLink">
    <inertial>
      <origin
        xyz="-0.0103392057731131 0.00330212714752842 -0.0568390211956747"
        rpy="0 0 0" />
      <mass
        value="0.0204665696983529" />
      <inertia
        ixx="3.10492542976001E-05"
        ixy="-9.85808261722445E-08"
        ixz="1.15442697536278E-08"
        iyy="3.09365790753548E-05"
        iyz="1.98892548493959E-06"
        izz="1.97064706320607E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_BAA_UpLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_BAA_UpLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.126 -0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_BAA_UpLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_BAA_LowerLink">
    <inertial>
      <origin
        xyz="-0.0100000793095631 -0.00426951730195901 0.0584895372950257"
        rpy="0 0 0" />
      <mass
        value="0.0194426288051957" />
      <inertia
        ixx="3.18395041729804E-05"
        ixy="8.26349479899479E-13"
        ixz="3.41161328659327E-12"
        iyy="3.16284313181092E-05"
        iyz="1.96032801613557E-06"
        izz="2.08616303394694E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_BAA_LowerLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimBodyAll.SLDASM/meshes/RB_BAA_LowerLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_BAA_LowerJoint"
    type="prismatic">
    <origin
      xyz="0 0.013397 -0.2"
      rpy="0 0 0" />
    <parent
      link="RB_BAA_UpLink" />
    <child
      link="RB_BAA_LowerLink" />
    <axis
      xyz="0 0.066838 -0.99776" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>