<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="v2_4">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.6752E-11 0.00056632 -0.039261"
        rpy="0 0 0" />
      <mass
        value="3.0021" />
      <inertia
        ixx="0.013049"
        ixy="6.8253E-07"
        ixz="2.4435E-13"
        iyy="0.0025904"
        iyz="2.0012E-11"
        izz="0.01394" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="LF_Thigh">
    <inertial>
      <origin
        xyz="0.0095038 -0.00067671 -0.13181"
        rpy="0 0 0" />
      <mass
        value="0.088242" />
      <inertia
        ixx="0.00049167"
        ixy="-2.1956E-07"
        ixz="-8.6515E-07"
        iyy="0.00048834"
        iyz="-2.451E-05"
        izz="8.9795E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_Shoulder"
    type="revolute">
    <origin
      xyz="-0.1245 0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_Thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LF_Calf">
    <inertial>
      <origin
        xyz="0.0094997 0.14516 0.0018158"
        rpy="0 0 0" />
      <mass
        value="0.10463" />
      <inertia
        ixx="0.00040923"
        ixy="-1.6059E-07"
        ixz="5.0477E-07"
        iyy="1.7662E-05"
        iyz="-4.6889E-06"
        izz="0.00040277" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_Elbow"
    type="revolute">
    <origin
      xyz="0 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="LF_Thigh" />
    <child
      link="LF_Calf" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RF_Thigh">
    <inertial>
      <origin
        xyz="-0.0096381 -0.00030317 -0.13031"
        rpy="0 0 0" />
      <mass
        value="0.08659" />
      <inertia
        ixx="0.00049153"
        ixy="-2.2292E-07"
        ixz="-8.6515E-07"
        iyy="0.00048831"
        iyz="-2.451E-05"
        izz="8.8685E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_Shoulder"
    type="revolute">
    <origin
      xyz="0.1245 0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RF_Calf">
    <inertial>
      <origin
        xyz="-0.0095003 0.14516 0.0018158"
        rpy="0 0 0" />
      <mass
        value="0.10463" />
      <inertia
        ixx="0.00040923"
        ixy="-1.6059E-07"
        ixz="5.0477E-07"
        iyy="1.7662E-05"
        iyz="-4.6889E-06"
        izz="0.00040277" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_Elbow"
    type="revolute">
    <origin
      xyz="0 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="RF_Thigh" />
    <child
      link="RF_Calf" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LB_Thigh">
    <inertial>
      <origin
        xyz="0.00999622099802527 0.000676711845986944 -0.131806390667606"
        rpy="0 0 0" />
      <mass
        value="0.088242208133174" />
      <inertia
        ixx="0.000491671507336521"
        ixy="-2.19555200687592E-07"
        ixz="8.65148297346723E-07"
        iyy="0.000488344429091293"
        iyz="2.45099889323388E-05"
        izz="8.97951850585149E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_Shoulder"
    type="revolute">
    <origin
      xyz="-0.125000000000002 -0.234999999999788 -0.1049999999997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LB_Thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LB_Calf">
    <inertial>
      <origin
        xyz="0.00950033259369662 -0.14516058908711 0.00181581662999181"
        rpy="0 0 0" />
      <mass
        value="0.104633187618761" />
      <inertia
        ixx="0.000409228048380258"
        ixy="-1.60584974158842E-07"
        ixz="-5.04772139851954E-07"
        iyy="1.76618965446207E-05"
        iyz="4.68888241017773E-06"
        izz="0.000402772876718349" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_Elbow"
    type="revolute">
    <origin
      xyz="0.000500000000300954 0 -0.249999999999999"
      rpy="0 0 0" />
    <parent
      link="LB_Thigh" />
    <child
      link="LB_Calf" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RB_Thigh">
    <inertial>
      <origin
        xyz="-0.00909006577664706 0.000314228083155621 -0.126305541097904"
        rpy="0 0 0" />
      <mass
        value="0.0835436064116753" />
      <inertia
        ixx="0.000490965397560563"
        ixy="-2.22915465507145E-07"
        ixz="8.75425762967168E-07"
        iyy="0.000487844071655092"
        iyz="2.45099890756795E-05"
        izz="8.74900059524618E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_Shoulder"
    type="revolute">
    <origin
      xyz="0.124499999999999 -0.235 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="RB_Calf">
    <inertial>
      <origin
        xyz="-0.00949966786401607 -0.145160591651444 0.00181581535334621"
        rpy="0 0 0" />
      <mass
        value="0.104633194570392" />
      <inertia
        ixx="0.000409228101246074"
        ixy="-1.60589466445026E-07"
        ixz="-5.04771748533639E-07"
        iyy="1.76618965887893E-05"
        iyz="4.68887025756794E-06"
        izz="0.000402772929794033" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_Calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_Calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_Elbow"
    type="revolute">
    <origin
      xyz="0 0 -0.25"
      rpy="0 0 0" />
    <parent
      link="RB_Thigh" />
    <child
      link="RB_Calf" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="LF_MAA_UPLink">
    <inertial>
      <origin
        xyz="0.00946571402861388 0.00225917574833165 -0.0214301584656529"
        rpy="0 0 0" />
      <mass
        value="0.101356075064708" />
      <inertia
        ixx="3.18717792649093E-05"
        ixy="-7.73533533778253E-07"
        ixz="3.20612703199514E-08"
        iyy="3.1593121998784E-05"
        iyz="2.91795704515546E-06"
        izz="1.37824743830266E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_MAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_MAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_MAA_UPJoint"
    type="revolute">
    <origin
      xyz="-0.125000000000001 0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_MAA_UPLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_MAA_FM_Link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 -8.32667268468867E-17 5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.000267035375555135" />
      <inertia
        ixx="1.02363560629468E-08"
        ixy="-4.58599767200016E-24"
        ixz="1.70384726849834E-24"
        iyy="1.04188302362429E-08"
        iyz="-1.27731921307206E-09"
        izz="1.91775905544512E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_MAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_MAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_MAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.0100000000000001 0.0149999999999999 -0.105"
      rpy="0 0 0" />
    <parent
      link="LF_MAA_UPLink" />
    <child
      link="LF_MAA_FM_Link" />
    <axis
      xyz="0 0.141421356237308 -0.989949493661167" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_MAA_LOLink">
    <inertial>
      <origin
        xyz="0.0100015812569088 -0.0053087361764389 0.0341502884859824"
        rpy="0 0 0" />
      <mass
        value="0.0161000353690241" />
      <inertia
        ixx="9.30652305873051E-06"
        ixy="2.88814907869005E-10"
        ixz="8.78566870825003E-11"
        iyy="9.08331331570099E-06"
        iyz="1.01764862302278E-06"
        izz="1.90973319075029E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_MAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_MAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_MAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.01 0.015 -0.105"
      rpy="0 0 0" />
    <parent
      link="LF_MAA_FM_Link" />
    <child
      link="LF_MAA_LOLink" />
    <axis
      xyz="0 -0.14142 0.98995" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_MAA_UPLink">
    <inertial>
      <origin
        xyz="-0.0097509037334671 0.00679664671253413 -0.0501949128795336"
        rpy="0 0 0" />
      <mass
        value="0.0278698742234461" />
      <inertia
        ixx="2.38906529110241E-05"
        ixy="9.91680363112484E-08"
        ixz="-4.11185815195557E-09"
        iyy="2.34651977795545E-05"
        iyz="3.1115002664688E-06"
        izz="2.41102271997974E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_MAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_MAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_MAA_UPJoint"
    type="revolute">
    <origin
      xyz="0.125 0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_MAA_UPLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_MAA_FM_Link">
    <inertial>
      <origin
        xyz="0 2.77555756156289E-17 5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.00026703537555513" />
      <inertia
        ixx="1.02363560629466E-08"
        ixy="3.7005757293591E-24"
        ixz="-3.05891287672673E-26"
        iyy="1.04188302362426E-08"
        iyz="-1.27731921307203E-09"
        izz="1.91775905544509E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_MAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_MAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_MAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.00999999999999918 0.0149999999999999 -0.105"
      rpy="0 0 0" />
    <parent
      link="RF_MAA_UPLink" />
    <child
      link="RF_MAA_FM_Link" />
    <axis
      xyz="0 0.14142135623731 -0.989949493661166" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_MAA_LOLink">
    <inertial>
      <origin
        xyz="-0.00999841874309126 -0.00530873617643882 0.0341502884859823"
        rpy="0 0 0" />
      <mass
        value="0.0161000353690241" />
      <inertia
        ixx="9.30652305873053E-06"
        ixy="2.88814907869573E-10"
        ixz="8.78566870798932E-11"
        iyy="9.083313315701E-06"
        iyz="1.01764862302277E-06"
        izz="1.9097331907503E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_MAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_MAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_MAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.0100000000000001 0.0150000000000001 -0.105"
      rpy="0 0 0" />
    <parent
      link="RF_MAA_FM_Link" />
    <child
      link="RF_MAA_LOLink" />
    <axis
      xyz="0 -0.141421356237309 0.989949493661166" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_MAA_UPLink">
    <inertial>
      <origin
        xyz="0.00975090371441956 -0.00679664652265177 -0.0501949123499262"
        rpy="0 0 0" />
      <mass
        value="0.027869874642907" />
      <inertia
        ixx="2.38906529270818E-05"
        ixy="9.916802618705E-08"
        ixz="4.1118570710299E-09"
        iyy="2.34651977842924E-05"
        iyz="-3.11150027150545E-06"
        izz="2.41102271727606E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_MAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_MAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_MAA_UPJoint"
    type="revolute">
    <origin
      xyz="-0.125000000000001 -0.174999999999992 -0.104999999999989"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LB_MAA_UPLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_MAA_FM_Link">
    <inertial>
      <origin
        xyz="3.88578058618805E-16 -2.20268248085631E-13 -2.94653190735517E-13"
        rpy="0 0 0" />
      <mass
        value="0.000267035375555129" />
      <inertia
        ixx="1.02363560629466E-08"
        ixy="-8.45925209614832E-24"
        ixz="-2.32383644002313E-24"
        iyy="1.04188302362426E-08"
        iyz="1.27731921307203E-09"
        izz="1.91775905544509E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_MAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_MAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_MAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.01 -0.0149999999997882 -0.104999999999716"
      rpy="0 0 0" />
    <parent
      link="LB_MAA_UPLink" />
    <child
      link="LB_MAA_FM_Link" />
    <axis
      xyz="0 -0.141421356237392 -0.989949493661155" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_MAA_LOLink">
    <inertial>
      <origin
        xyz="0.0099984187414027 0.00530873618714156 0.0341502885027418"
        rpy="0 0 0" />
      <mass
        value="0.0161000353525851" />
      <inertia
        ixx="9.30652305816206E-06"
        ixy="2.88815240929556E-10"
        ixz="-8.78568622971045E-11"
        iyy="9.08331331718968E-06"
        iyz="-1.01764862281575E-06"
        izz="1.90973319061552E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_MAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_MAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_MAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.01 -0.015 -0.105"
      rpy="0 0 0" />
    <parent
      link="LB_MAA_FM_Link" />
    <child
      link="LB_MAA_LOLink" />
    <axis
      xyz="0 0.14142 0.98995" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_MAA_UPLink">
    <inertial>
      <origin
        xyz="-0.00946571414697367 -0.00225917568112477 -0.0214301582066529"
        rpy="0 0 0" />
      <mass
        value="0.101356076671741" />
      <inertia
        ixx="3.18717792694342E-05"
        ixy="-7.735334089753E-07"
        ixz="-3.20613547792923E-08"
        iyy="3.15931219588277E-05"
        iyz="-2.91795713974515E-06"
        izz="1.37824742703697E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_MAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_MAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_MAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.125 -0.175 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_MAA_UPLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_MAA_FM_Link">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 1.11022302462516E-16 -1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.000267035375555129" />
      <inertia
        ixx="1.02363560629466E-08"
        ixy="-1.29408981273724E-24"
        ixz="1.39306597163962E-25"
        iyy="1.04188302362426E-08"
        iyz="1.27731921307203E-09"
        izz="1.91775905544509E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_MAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_MAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_MAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.0100000000000004 -0.0149999999999997 -0.105"
      rpy="0 0 0" />
    <parent
      link="RB_MAA_UPLink" />
    <child
      link="RB_MAA_FM_Link" />
    <axis
      xyz="0 -0.14142135623731 -0.989949493661166" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_MAA_LOLink">
    <inertial>
      <origin
        xyz="-0.0100015812585976 0.0053087361873535 0.0341502885030413"
        rpy="0 0 0" />
      <mass
        value="0.016100035352585" />
      <inertia
        ixx="9.30652305816205E-06"
        ixy="2.88815240928479E-10"
        ixz="-8.78568622979035E-11"
        iyy="9.08331331718967E-06"
        iyz="-1.01764862281575E-06"
        izz="1.90973319061551E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_MAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_MAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_MAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.0100000000000002 -0.0150000000000005 -0.105"
      rpy="0 0 0" />
    <parent
      link="RB_MAA_FM_Link" />
    <child
      link="RB_MAA_LOLink" />
    <axis
      xyz="0 0.141421356237309 0.989949493661167" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_BAA_UPLink">
    <inertial>
      <origin
        xyz="0.00981181262898023 -0.0056297628440902 -0.0798568946004002"
        rpy="0 0 0" />
      <mass
        value="0.0368915587454767" />
      <inertia
        ixx="8.18381134214068E-05"
        ixy="-9.61603283988576E-08"
        ixz="2.45908458701361E-08"
        iyy="8.15107041421994E-05"
        iyz="-5.27909434211993E-06"
        izz="2.46502905129696E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_BAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_BAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="-0.125 0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LF_BAA_UPLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_BAA_FM_Link">
    <inertial>
      <origin
        xyz="0 2.77555756156289E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.000267035375555132" />
      <inertia
        ixx="1.02363560629467E-08"
        ixy="7.07159068762609E-24"
        ixz="-1.56184078659875E-24"
        iyy="1.02771139706825E-08"
        iyz="6.08442329991107E-10"
        izz="1.93193068200113E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_BAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_BAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_BAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.00999999999999998 -0.00669872980999995 -0.1"
      rpy="0 0 0" />
    <parent
      link="LF_BAA_UPLink" />
    <child
      link="LF_BAA_FM_Link" />
    <axis
      xyz="0 -0.0668375060451475 -0.997763873762557" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_BAA_LOLink">
    <inertial>
      <origin
        xyz="0.010000079310193 0.00426951731051858 0.0584895373405412"
        rpy="0 0 0" />
      <mass
        value="0.151652504527125" />
      <inertia
        ixx="0.000248348132545758"
        ixy="6.44648290072164E-12"
        ixz="-2.66092709812721E-11"
        iyy="0.000246701764286904"
        iyz="-1.52905585259229E-05"
        izz="1.62720716615077E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_BAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LF_BAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_BAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.01 -0.00669872981000013 -0.1"
      rpy="0 0 0" />
    <parent
      link="LF_BAA_FM_Link" />
    <child
      link="LF_BAA_LOLink" />
    <axis
      xyz="0 0.0668375060451433 0.997763873762558" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_BAA_UPLink">
    <inertial>
      <origin
        xyz="-0.0096608 -0.0043083 -0.056772"
        rpy="0 0 0" />
      <mass
        value="0.05526" />
      <inertia
        ixx="8.3833E-05"
        ixy="2.5964E-07"
        ixz="-6.6393E-08"
        iyy="8.3557E-05"
        iyz="-5.1588E-06"
        izz="5.2923E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_BAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_BAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.125 0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RF_BAA_UPLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_BAA_FM_Link">
    <inertial>
      <origin
        xyz="0 -5.5511E-17 5.5511E-17"
        rpy="0 0 0" />
      <mass
        value="0.00026704" />
      <inertia
        ixx="1.0236E-08"
        ixy="-8.5007E-24"
        ixz="-1.3773E-24"
        iyy="1.0277E-08"
        iyz="6.0844E-10"
        izz="1.9319E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_BAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_BAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_BAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.00999999999999901 -0.00669872981002087 -0.1"
      rpy="0 0 0" />
    <parent
      link="RF_BAA_UPLink" />
    <child
      link="RF_BAA_FM_Link" />
    <axis
      xyz="0 -0.0668375060451445 -0.997763873762558" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_BAA_LOLink">
    <inertial>
      <origin
        xyz="-0.00999992068980698 0.00426951731051883 0.0584895373405412"
        rpy="0 0 0" />
      <mass
        value="0.151652504527125" />
      <inertia
        ixx="0.000248348132545757"
        ixy="6.44648290530497E-12"
        ixz="-2.66092710162827E-11"
        iyy="0.000246701764286904"
        iyz="-1.52905585259239E-05"
        izz="1.62720716615075E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_BAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RF_BAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_BAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.01 -0.00669872981000054 -0.100000000000001"
      rpy="0 0 0" />
    <parent
      link="RF_BAA_FM_Link" />
    <child
      link="RF_BAA_LOLink" />
    <axis
      xyz="0 0.0668375060451482 0.997763873762557" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_BAA_UPLink">
    <inertial>
      <origin
        xyz="0.0098118 0.0050715 -0.079894"
        rpy="0 0 0" />
      <mass
        value="0.036892" />
      <inertia
        ixx="8.1838E-05"
        ixy="-9.8581E-08"
        ixz="1.1546E-08"
        iyy="8.15E-05"
        iyz="5.3573E-06"
        izz="2.4756E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_BAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_BAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="-0.125 -0.335 -0.105"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LB_BAA_UPLink" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_BAA_FM_Link">
    <inertial>
      <origin
        xyz="2.7756E-17 -1.1102E-16 1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="0.00026704" />
      <inertia
        ixx="1.0236E-08"
        ixy="-3.3297E-24"
        ixz="2.7975E-24"
        iyy="1.0277E-08"
        iyz="-6.0844E-10"
        izz="1.9319E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_BAA_FM_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_BAA_FM_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_BAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.0100000000000006 0.00669872981000008 -0.1"
      rpy="0 0 0" />
    <parent
      link="LB_BAA_UPLink" />
    <child
      link="LB_BAA_FM_Link" />
    <axis
      xyz="0 0.0668375060451427 -0.997763873762558" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_BAA_LOLink">
    <inertial>
      <origin
        xyz="0.0099999 -0.0042695 0.05849"
        rpy="0 0 0" />
      <mass
        value="0.15165" />
      <inertia
        ixx="0.00024835"
        ixy="6.4455E-12"
        ixz="2.6611E-11"
        iyy="0.0002467"
        iyz="1.5291E-05"
        izz="1.6272E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_BAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="LB_BAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_BAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.0100000000000001 0.00669872980999975 -0.0999999999999998"
      rpy="0 0 0" />
    <parent
      link="LB_BAA_FM_Link" />
    <child
      link="LB_BAA_LOLink" />
    <axis
      xyz="0 -0.066837506045145 0.997763873762558" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_BAA_UPLink">
    <inertial>
      <origin
        xyz="0.0098118 -0.0050715 -0.079894"
        rpy="0 0 0" />
      <mass
        value="0.036892" />
      <inertia
        ixx="8.1838E-05"
        ixy="9.8581E-08"
        ixz="1.1546E-08"
        iyy="8.15E-05"
        iyz="-5.3573E-06"
        izz="2.4756E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_BAA_UPLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_BAA_UPLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_BAA_UpJoint"
    type="revolute">
    <origin
      xyz="0.124999999999999 -0.334999999999652 -0.10499999999942"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RB_BAA_UPLink" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_BAA_FM_LINK">
    <inertial>
      <origin
        xyz="0 -1.1102E-16 0"
        rpy="0 0 0" />
      <mass
        value="0.00026704" />
      <inertia
        ixx="1.0236E-08"
        ixy="7.4965E-24"
        ixz="-4.9929E-24"
        iyy="1.0277E-08"
        iyz="-6.0844E-10"
        izz="1.9319E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_BAA_FM_LINK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_BAA_FM_LINK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_BAA_SlideJoint"
    type="prismatic">
    <origin
      xyz="-0.00999999999999995 0.00669872980965114 -0.100000000000579"
      rpy="0 0 0" />
    <parent
      link="RB_BAA_UPLink" />
    <child
      link="RB_BAA_FM_LINK" />
    <axis
      xyz="0 0.0668375060451448 -0.997763873762558" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_BAA_LOLink">
    <inertial>
      <origin
        xyz="-0.01 -0.0042695 0.05849"
        rpy="0 0 0" />
      <mass
        value="0.15165" />
      <inertia
        ixx="0.00024835"
        ixy="6.4455E-12"
        ixz="2.6611E-11"
        iyy="0.0002467"
        iyz="1.5291E-05"
        izz="1.6272E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_BAA_LOLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="RB_BAA_LOLink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_BAA_FM_SlideJoint"
    type="prismatic">
    <origin
      xyz="0.01 0.0066987298100003 -0.0999999999999999"
      rpy="0 0 0" />
    <parent
      link="RB_BAA_FM_LINK" />
    <child
      link="RB_BAA_LOLink" />
    <axis
      xyz="0 -0.066837506045146 0.997763873762558" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>